@use "base/variables" as v;
@use "base/mixins" as m;

.content-contact {
    @include m.tablet { 
        @include m.grid(2, v.$gap);
        background-image: url(../img/granos_cafe.jpg);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 40%;
    }
}

.form {

    .field {
        margin-bottom: 2rem;
        color: v.$primary_color;
        
        &:last-of-type {
            margin-bottom: 0;
        }

        label {
            display: block;
            font-size: 2.2rem;
            font-weight: 700;
        }

        input:not([type="submit"]),
        select {
            width: 100%;
            padding: 1rem;
            border: .2rem solid v.$primary_color;
        }

        input[type="submit"] {
            background-color: v.$primary_color;
            width: 100%;
            border: none;
            padding: 1rem;
            color: v.$white;
            font-size: 2.2rem;
            font-weight: 700;
            transition: background-color .5s;

            &:hover {
                cursor: pointer;
                background-color: v.$secondary_color;
            }
        }

    }
}