@use "base/variables" as v;
@use "base/mixins" as m;

.process-coffee {

    margin-bottom: v.$gap;

    @include m.tablet { 
        display: flex;
        gap: v.$gap;
        align-items: center;

        &:nth-child(2n) {
            flex-direction: row-reverse;
        }
    }

    &:last-of-type{
        margin-bottom: 0;
    }

    .image,
    .text {
        flex: 1;
    }

    .text {
        margin-top: 1rem;

        h3 {
            margin: 0;
            text-align: left;
            color: v.$primary_color;

            &::after {
                content: "";
                display: block;
                width: 50%;
                height: 0.5rem;
                background-color: v.$secondary_color;
            }
        }

        p {
            text-align: justify;
        }

    }

}