// Fonts
$principal_font: 'Raleway', sans-serif;
$second_font: 'Roboto', sans-serif;
$alternative_font: 'Bona Nova', serif;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary_color: #5E311E;
$secondary_color: #C39C63;
$black: #000000;
$white: #FFFFFF;
$light_gray: #ECEEEF;
$light_brown: #EBE7DE; 

// Units
$gap: 5rem;